
<h1>Edit <%= @animal.animal_name %></h1>


<form action = "/animals/<%= @animal.id %>" method= "post">
  <label>
    Pet name:
    <input type = "text" name="animal_name" value = "<%= @animal.animal_name %>"/>
  </label>

  <label>
    <p>Species:
    <select name = "species">
    <option value ="dog"> Dog</option>
    <option value = "cat">Cat</option>
    <option value = "rabbit">Rabbit</option>
    </select></p>
  </label>

  <label>
    <p>Adoption status:
    <input type="text" name="adoption_status" value="<%= @animal.adoption_status %>" /></p>
  </label>

  <label>
    <p>Admission date: 
    <input type="date" name="admission_date" value= "<%= @animal.admission_date %>" /></p>
  </label>

  <label>
    <p>Estimated ready for adoption date:
    <input type="date" name="ready_by_date" value= "<%= @animal.ready_by_date %>" /></p>
  </label>

  <label>
   <p> Extra information:
    <input type="text" name="details" value= "<%= @animal.details %>" /></p>
  </label>
 
  <label>
    <p>Animal picture:
    <input type="text" name="animal_pic" value= "<%= @animal.animal_pic %>" /></p>
  </label>

  <input type ="submit" value= "update entry" />
</form>