<p>Owner's name: <a href="/owners/<%= @adoption.owner_id %>"><%= @adoption.owner.full_name %></a> </p>
<p>Pet's name: <a href="/animals/<%= @adoption.animal_id %>"><%= @adoption.animal.animal_name %></a>
<p>Owner details:</p>
<p> <%= @adoption.owner.extra_details %></p>
<p>Animal details: </p>
<p><%= @adoption.animal.details %></p>

<form action= "/adoptions/<%= @adoption.id %>/edit" method="get">
   <input type="submit" value="Update adoption" /> 
</form>

<form action= "/adoptions/<%= @adoptions.id %>/delete" method="post">
   <input type="submit" value="remove entry" /> 
</form>